body {
  color: black;
}

@media (min-width: 768px) {
  .fix-sidebar {
    .top-left-part {
      width: 340px;
      padding-left: 10px;
    }
  }
}

@media (max-width: 767px) {
  .navbar-header {
    .navbar-toggle {
      float: left;
    }
  }
}
