// override template
@import 'tpl-override-eliteadmin';

@import 'treelist';

// TODO: refactor into _shell.scss?
#shell-loading {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  text-align: center;
}
